/* Masquer le TOC pour la page sans_toc.md */
.md-content[data-md-source-file="index.md"] .md-nav--secondary {
    display: none;
}

/* Élargir le contenu pour prendre tout l'espace */
.md-content[data-md-source-file="index.md"] .md-main__inner {
    max-width: 100%;
}
